/* Style the SimpleBar scrollbar */
.simplebar-scrollbar {
  background-color: #0696d4; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

.simplebar-scrollbar:before {
  background-color: #0696d4; /* Darker thumb color on hover */
  border-radius: 10px;
  content: "";
  /* opacity: 100; */
}

.simplebar-track {
  background: rgba(240, 240, 240, 0.8); /* Light gray background for the track */
  border-radius: 10px; /* Rounded corners */
}

.simplebar-scrollbar.simplebar-visible:before {
  background-color: #0696d4; /* Regular thumb color */
}

/* Optional: Adjust the size to make it thinner */
.simplebar-scrollbar::before {
  width: 6px; /* Thinner scrollbar */
  height: 4px;
}
